@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.parent-div {
    background-color: var(--light-grayish-cyan);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Styling Splitter Logo */

.splitter-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styling Tip App */

.tip-app-container {
    height: 88%;
    background-color: white;
    padding: 1.75rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

/* Styling the input */

.inputs {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    text-align: right;
    color: var(--very-dark-cyan);
    padding-right: 1rem;
    border-radius: 5px;
}

::placeholder {
    color: var(--grayish-cyan);
}

.icon {
    position: absolute;
    width: 0.75rem;
    margin-left: 10px;
    margin-top: 8px;
}

.people-icon {
    margin-top: 10px;
}

.title {
    color: var(--dark-grayish-cyan);
    font-weight: 700;
    font-size: 0.75rem;
}

/* Styling Tip container */

.tip-amt-selector-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}

.tip-selector-title {
    grid-column: 1 / 3;
}

.percent-btn {
    color: white;
    background-color: var(--very-dark-cyan);
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}


.percent-btn-selected {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.custom {
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    font-weight: 700;
    font-size: 1.5rem;
    padding-right: 1rem;
    border-radius: 5px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
}

/* Styling Total Container */

.total-container {
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-cyan);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
    gap: 10px;
}

.tip-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-title {
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
}

.total-amt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person {
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--grayish-cyan);
}

.reset-btn {
    color: var(--very-dark-cyan);
    background-color: rgb(15, 104, 109);
    border: none;
    font-weight: 700;
    padding: 0.5rem 0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.total {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--strong-cyan);
}

@media only screen and (min-width: 760px) {
    .parent-div {
        align-items: center;
        justify-content: center;
    }

    .splitter-logo-container {
        margin-bottom: 70px;
    }

    .tip-app-container {
        height: auto;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        border-radius: 20px;
        width: 50%;
    }

    .input-container {
        width: 50%;
        justify-content: space-between;
    }

    .total-container {  
        width: 50%;
    }

    input:focus {
        outline-color: var(--strong-cyan);
    }

    .custom:focus {
        outline-style: solid;
        outline-color: var(--strong-cyan);
    }

    .total {
        font-size: 3rem;
    }

    .reset-btn {
        margin-top: 40px;
    }

    .tip-amt-selector-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tip-selector-title {
        grid-column: 1 / 4;
    }
}